.general-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.general-info .name {
  font-size: 1.5rem;
  font-weight: 500;
}

.general-info .buttons {
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}
