.resume {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

.resume .title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.general-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.general-info .name {
  font-size: 1.5rem;
  font-weight: 500;
}

.general-info .buttons {
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}

.education-info {
  display: flex;
  justify-content: space-between;
}

.education-info .buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.practical-experience .top-section,
.practical-experience .editable-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.practical-experience .top-section .buttons,
.practical-experience .editable-top-section .buttons {
  display: flex;
  gap: 0.5rem;
}

.practical-experience .editable-top-section .date {
  display: flex;
  align-items: center;
}

.practical-experience .responsibility-list {
  margin-left: 1.2rem;
}

.practical-experience .responsibility-list .content {
  display: flex;
  justify-content: space-between;
}

.practical-experience .responsibility-list .buttons {
  display: flex;
  gap: 0.5rem;
}

.practical-experience .responsibility-list button {
  background-color: #fff;
  padding: 0;
  font-size: 1rem;
}

.practical-experience .responsibility-list button.edit {
  color: green;
}

.practical-experience .responsibility-list .content.editable .buttons {
}
.practical-experience .responsibility-list .content.editable button {
  background-color: #008cba;
  color: #fff;
  padding: 0.5rem 0.7rem;
}

.add-responsibility-form .responsibilities {
  display: flex;
  justify-content: space-between;
}

.add-responsibility-form .responsibilities .form-field {
  flex: 1;
}

.add-responsibility-form .add-responsibility-button {
  background-color: #fff;
  align-self: flex-end;
}

.add-responsibility-form .add-responsibility-button:hover {
  background-color: aquamarine;
}

.add-responsibility-form .add-responsibility-button img {
  filter: invert(23%) sepia(73%) saturate(5576%) hue-rotate(135deg)
    brightness(97%) contrast(103%);
  width: 18px;
  height: 18px;
}
